@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1,
        /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
        /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
        /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
        /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
        /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
}

@supports (font-variation-settings: normal) {
    /* Use variable font if supported */
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html {
    scroll-behavior: smooth;
}

.header-background {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: rgba(65, 66, 61, 0.6);
    --tw-bg-opacity: 0.6;
    border-radius: 3rem;
}

.lds-grid,
.lds-grid div {
    box-sizing: border-box;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #333;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.scroll {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

.scroll::before {
    content: '';
    position: absolute;
    top: 0.625rem;
    left: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}



